# Ignore Microsoft Word documents
*.docx
*.doc

# Ignore temporary Word files
~$*.docx
~$*.doc
*.tmp

# Ignore specific context and document files
doc_context.txt
doc_context.xml
UPCFinalProjectReportTemplateSample - Diseño de Base de Datos.docx
clases/upc-pre-1ASI0400-week-06-01.pdf
clases/upc-pre-1ASI0400-week-07-01.pdf
clases/upc-pre-si400-dml-agregate-union_v1 (1).pdf
clases/upc-pre-si400-dml-functions_v1 (1).pdf
clases/upc-pre-si400-dml-join_v1 (1).pdf
clases/upc-pre-si400-dml-stored-procedures_v1 (1).pdf
clases/upc-pre-si400-dml-subqueries_v1 (1).pdf
clases/upc-pre-si400-dml-triggers_v1 (1).pdf
clases/upc-pre-1ASI0400-week-06-01.txt
clases/upc-pre-1ASI0400-week-07-01.txt
clases/upc-pre-si400-dml-agregate-union_v1 (1).txt
clases/upc-pre-si400-dml-functions_v1 (1).txt
clases/upc-pre-si400-dml-join_v1 (1).txt
clases/upc-pre-si400-dml-stored-procedures_v1 (1).txt
clases/upc-pre-si400-dml-subqueries_v1 (1).txt
clases/upc-pre-si400-dml-triggers_v1 (1).txt
